
*{
    margin:0;
    padding:0;
    text-decoration: none;
}
    
.container{
    display:flex;
    margin-top: 0;
    position: fixed;
    z-index: 100;
    top: 5rem;
    left: 0;
}
  .main{
    width: 100%;
    padding: 20px;
  
}
.sidebar{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #030303;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    overflow: auto;
   
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #050505;
    padding: 10px 15px;
    gap: 20px;
    margin-bottom: 2rem;
    transition: all 0.5s;
}
.link:hover{
    background:rgb(242, 250, 255);
    color: #000;
    transition: all 0.5s;
}
.active{
    background: rgb(226, 229, 229);
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}
